<nav>
    <div class="header-nav">
        <ul class="nav">
            <div class="logo"><span class="bold_t">PROJECT MANAGER</span></div>
            <select class="ml_20">
                <option>1</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/chat" class="nav-link">CHAT</a></li>
            <li class="nav-item"><a href="/schedule" class="nav-link">SCHEDULE</a></li>
            <li>
                <div class="profile" style="background-image: url('/icons/x.svg')"></div>
            </li>
        </ul>
    </div>
</nav>
<div class="header-gnb">
    <ul class="nav">
        <li class="nav-item"><a href="/project" class="nav-link active">PROJECT</a></li>
        <li class="nav-item"><a href="/member" class="nav-link">MEMBER</a></li>
        <li class="nav-item"><a href="/team" class="nav-link">TEAM</a></li>
        <li class="nav-item"><a href="/position" class="nav-link">POSITION</a></li>
        <li class="nav-item"><a href="/role" class="nav-link">ROLE</a></li>
    </ul>
</div>