<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head th:insert="common/head.html"></head>
<body>
<main>
    <div class="header-dom" th:insert="common/header.html"></div>
    <input type="hidden" id="idx" th:value="${detail.idx}">
    <div class="body">
        <p class="title">PROJECT</p>
        <div class="detail-form">
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 90%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th><label for="title">프로젝트명</label></th>
                        <td><input type="text" id="title" data-max="100" placeholder="프로젝트명" th:value="${detail.title}" /></td>
                    </tr>
                    <tr>
                        <th><label for="description">프로젝트 설명</label></th>
                        <td><textarea id="description" data-max="500" placeholder="프로젝트 설명">[[${detail.description}]]</textarea></td>
                    </tr>
                    <tr>
                        <th>상태</th>
                        <td>
                            <div>
                                <div th:each="status : ${status_list}" class="inline-flex">
                                    <input type="radio" th:id="|status${status.idx}|" name="status_idx" th:value="${status.idx}" th:checked="${status.idx == param_status_idx}">
                                    <label th:for="|status${status.idx}|"></label>
                                    <span th:onclick="|status${status.idx}.click()|" th:text="${status.name}"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="start_date">시작일자</label></th>
                        <td><input type="text" id="start_date" placeholder="시작일자" th:value="${detail.startDate}" /></td>
                    </tr>
                    <tr>
                        <th><label for="end_date">종료일자</label></th>
                        <td><input type="text" id="end_date" placeholder="종료일자" th:value="${detail.endDate}" /></td>
                    </tr>
                    <tr>
                        <th><label for="team_search">팀</label></th>
                        <!-- TODO: 팀 검색 -->
                        <td><input type="text" id="team_search" placeholder="팀을 선택해주세요." /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <!-- TODO: 팀명 추가 필요 -->
                            <div id="team_list" class="manager-dom">
                                <div th:each="member : ${member_list}" th:if="${member.teamIdx != null}" class="team" th:data-idx="${member.idx}">
                                    팀명<i class="delete_item"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="member_search">담당자</label></th>
                        <!-- TODO: 멤버 검색 -->
                        <td><input type="text" id="member_search" placeholder="유저를 선택해주세요." /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div id="member_list" class="manager-dom">
                                <!-- TODO: 멤버명 추가 필요 -->
                                <div th:each="member : ${member_list}" th:if="${member.memberIdx != null}" class="member" th:data-idx="${member.idx}">
                                    <div class="profile"></div>멤버명<i class="delete_item"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <a id="history_back" class="btn light">목록으로</a>
                        <a id="save_btn" class="btn">등록하기</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="popup">
        <div class="background pop_close"></div>
        <section id="alert_pop" th:insert="popup/alert_pop.html"></section>
    </div>
</main>
</body>
<script th:src="@{/js/project/detail.js}"></script>
</html>