:root {
    --white: #ffffff;
    --grey: #5b5b5b;
    --light-grey: #d1d1d1;
    --dark: #04023b;
    --deep-dark: #02002a;
    --black: #111111;
    --black-tr: #11111122;
    --active: #66a3ff;

    --primary: #0d6efd; --primary-dark: #084298;
    --secondary: #6c757d; --secondary-dark: #41464b;
    --success: #198754; --success-dark: #051b11;
    --danger: #dc3545; --danger-dark: #2c0b0e;
    --warning: #ffc107; --warning-dark: #332701;
    --info: #0dcaf0; --info-dark: #032830;
    --light: #f8f9fa; --light-dark: #343a40;

    --icon-close: url('/icons/x.svg');
    --icon-left: url('/icons/left.svg');
    --icon-right: url('/icons/right.svg');
    --icon-left-over: url('/icons/left_over.svg');
    --icon-right-over: url('/icons/right_over.svg');

    --icon-bookmark: url('/icons/bookmark.svg');
    --icon-clipboard: url('/icons/clipboard.svg');
    --icon-person: url('/icons/person.svg');
    --icon-exclamation: url('/icons/exclamation.svg');
}
/* COMMON */
*::-webkit-scrollbar {width: 8px; background-color: #00000088;}
*::-webkit-scrollbar-thumb {background: #666;}
*::-webkit-scrollbar-track {background: #ddd;}
body {font-size: 15px; overflow-y: hidden;}
div {box-sizing: border-box;}
ul {padding-inline-start: 0; margin-block-start: 0; margin-block-end: 0;}
li {list-style: none;}
a {display: inline-block; text-decoration: none;}

/* INPUT */
input {width: 100%; padding: 5px; border: solid 1px var(--dark); box-sizing: border-box; background-color: var(--white); font-weight: bold; font-size: 15px;}
input::placeholder {color: var(--grey); font-style: italic; font-weight: bold; font-size: 15px;}
input:disabled {background: var(--light-grey);}

/* TEXTAREA */
textarea {width: 100%; padding: 5px; resize:none; box-sizing: border-box; background-color: var(--white); font-weight: bold; font-size: 15px;}
textarea::placeholder {color: var(--grey); font-style: italic; font-weight: bold; font-size: 15px;}

/* SELECT */
select {width: 100%; height: 30px; font-size: 16px; font-weight: bold; color: var(--grey);}
select option[value=""]:disabled {display: none;}
select option {padding: 10px 5px; font-weight: bold;}
select option:checked, select option:focus {background-color: var(--primary); color: var(--white); font-weight: bold;}

/* NAV */
.header-dom {font-size: 20px;}
.header-nav {position: fixed; left: 10px; top: 10px; width: calc(100vw - 20px); height: 30px; display: flex; justify-content: space-between; background-color: var(--white);}
.header-nav a {color: var(--black); font-weight: bold;}
.header-nav select {width: 300px;}
.header-nav .profile {height: 30px; width: 30px; display: block; margin-right: 5px; border: 2px solid var(--dark); border-radius: 100%; background-size: 30px; background-repeat: no-repeat; background-position: center;}
.nav {display: flex;}
.nav .nav-item {margin: 0 10px;}
.nav .nav-link {font-size: 15px;}
.nav .nav-link.active {text-decoration: underline;}

/* LOGO */
.logo {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; cursor: pointer;}

/* TITLE */
.title {font-size: 25px; font-weight: bold; text-align: center;}
.title-btn {position: absolute; top: 23px; right: 15vh;}
.side-dom + .body .title-btn {right: 5vh;}

/* GNB */
.header-gnb {position: fixed; left: 0; top: 50px; width: 100vw; height: 50px; line-height: 45px; display: flex; justify-content: center; background-color: var(--dark);}
.header-gnb a {color: var(--white); font-weight: bold;}
.header-gnb .nav-item {margin: 0 15px;}

/* SIDE NAV */
.side-dom {position: fixed; left: 0; top: 100px; width: 20vw; height: calc(100vh - 100px); padding: 5px 10px; overflow-y: auto; border-right: 2px solid var(--grey); box-shadow: 2px 1px 5px 0 var(--grey);}
.side-dom li {height: 30px; padding-left: 10px; vertical-align: middle; line-height: 30px;}
.side-dom li.active, .side-dom li:hover {font-weight: bold; background-color: var(--dark); color: var(--white);}
.side-dom .side-menu {height: calc(100% - 50px); overflow-y: auto;}
.side-dom .side-btn {position: absolute; left: -10px; bottom: 0; height: 50px; width: calc(100% + 10px); background-color: var(--dark); color: var(--white); text-align: center; line-height: 50px; font-size: 20px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; cursor: pointer;}

/* BODY */
.body {position: fixed; left: 0; top: 100px; width: 100vw; height: calc(100vh - 100px); padding: 0 15vh; overflow-y: auto;}
.side-dom + .body {left: 20vw; width: 80vw; padding: 0 5vh;}

/* POPUP */
.popup {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 999; display: none;}
.popup .background {width: 100%; height: 100%; background: #00000099;}
.popup section {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 300px; min-height: 200px; padding: 20px; background-color: var(--white); border-radius: 20px; text-align: center; display: none;}
.pop-title {width: 100%; display: flex; justify-content: space-between; font-weight: bold;}
.pop-title span {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.pop-title .close-btn {width: 30px; height: 30px; background-image: var(--icon-close); background-size: 30px; background-repeat: no-repeat; background-position: center; cursor: pointer;}
.pop-content {position: relative; top: 10px; margin-bottom: 55px; max-height: calc(100vh - 200px); overflow-y: auto;}
.pop-footer {position: fixed; left: 0; bottom: 0; width: 100%; height: 60px; border-top: 1px solid var(--grey); display: flex; justify-content: center; align-items: center;}

/* BUTTON */
.btn {display: inline-block; width: 120px; height: 40px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; line-height: 38px; text-align: center; border: solid 2px var(--dark); background-color: var(--deep-dark); color: var(--white); font-weight: bold; border-radius: 10px; box-sizing: border-box; cursor: pointer;}
.btn.primary {border: solid 2px var(--primary-dark); background-color: var(--primary);}
.btn.secondary {border: solid 2px var(--secondary-dark); background-color: var(--secondary);}
.btn.success {border: solid 2px var(--success-dark); background-color: var(--success);}
.btn.danger {border: solid 2px var(--danger-dark); background-color: var(--danger);}
.btn.warning {border: solid 2px var(--warning-dark); background-color: var(--warning); color: var(--black);}
.btn.info {border: solid 2px var(--info-dark); background-color: var(--info); color: var(--black);}
.btn.light {border: solid 2px var(--light-dark); background-color: var(--light); color: var(--black);}

.btn.bookmark:before {vertical-align: middle; margin-right: 5px; content: var(--icon-bookmark);}
.btn.clipboard:before {vertical-align: middle; margin-right: 5px; content: var(--icon-clipboard);}
.btn.person:before {vertical-align: middle; margin-right: 5px; content: var(--icon-person);}
.btn.exclamation:before {vertical-align: middle; margin-right: 5px; content: var(--icon-exclamation);}

/* TABLE */
table {width: 100%;}
tfoot {text-align: center; height: 60px; vertical-align: bottom;}
.table {border: solid 2px var(--light-grey); border-collapse: collapse; margin-top: 10px;}
.table td {padding-left: 10px; padding-right: 10px; cursor: default;}
.table tr, .table td, .table tbody th {height: 30px; border: solid 1px var(--light-grey); border-collapse: collapse;}
.table thead th {height: 50px; background-color: var(--dark); border-left: solid 2px var(--white); border-right: solid 2px var(--white); border-collapse: collapse; color: var(--white);}
.table thead th:first-of-type {border-left: solid 2px var(--light-grey);}
.table thead th:last-of-type {border-right: solid 2px var(--light-grey);}
.table select {border: none;}

/* MANAGER DOM */
.manager-dom div {display: inline-flex; height: 33px; background-color: var(--dark); padding: 5px 10px; margin-right: 5px; margin-bottom: 5px; border: 2px solid var(--deep-dark); color: var(--white); border-radius: 10px; font-weight: bold;}
.manager-dom div .profile {height: 20px; width: 20px; display: block; margin-right: 5px; border: 2px solid var(--white); border-radius: 100%; background-size: 20px; background-repeat: no-repeat; background-position: center;}
.manager-dom div i {height: 20px; width: 20px; display: block; margin-left: 5px; background-color: var(--white); -webkit-mask-image: var(--icon-close); mask-image: var(--icon-close); -webkit-mask-size: cover; mask-size: cover; background-image: none;}

/* PAGINATION */
.pagination {display: flex; justify-content: center; align-items: center; margin-top: 20px;}
.pagination li {margin: 0 10px; cursor: pointer; text-align: center; color: var(--black); opacity: 0.4; transition-duration: 1s; transition-timing-function: linear;}
.pagination li.before {width: 15px; height: 15px; background-image: var(--icon-left); background-size: 15px; background-repeat: no-repeat; background-position: center;}
.pagination li.before-over {width: 15px; height: 15px; background-image: var(--icon-left-over); background-size: 15px; background-repeat: no-repeat; background-position: center;}
.pagination li.next {width: 15px; height: 15px; background-image: var(--icon-right); background-size: 15px; background-repeat: no-repeat; background-position: center;}
.pagination li.next-over {width: 15px; height: 15px; background-image: var(--icon-right-over); background-size: 15px; background-repeat: no-repeat; background-position: center;}
.pagination li.on {opacity: 1; font-weight: bold; text-decoration: underline;}
.pagination li:hover {opacity: 1; font-weight: bold;}

/* CHECKBOX */
input[type="checkbox"], input[type="radio"]{display: none;}
input[type="checkbox"] + label, input[type="radio"] + label{display: inline-block; width: 20px; height: 20px; margin-right: 5px; margin-left: 10px; background-color: #ffffff; border: 1px solid var(--dark); position: relative;}
input[type="checkbox"] + label + span, input[type="radio"] + label + span {cursor: default; font-weight: bold;}
input[type="checkbox"]:checked + label::after, input[type="radio"]:checked + label::after{content:'✔'; font-size: 20px; width: 20px; height: 20px; text-align: center; position: absolute; left: 0; top: -5px;}
div:first-of-type > input[type="checkbox"] + label, div:first-of-type > input[type="radio"] + label {margin-left: 0;}

/* FORM DATE */
.form-date {position: relative;}
.form-date input {width: 100%; padding-left: 10px;}
.form-date label {position: absolute; left: 0; top: 0; width: 100%;}
.form-date input:focus ~ label, .form-date input:valid ~ label {display: none;}

/* SEARCH FORM */
.search-form table {border: 2px solid var(--dark); border-radius: 10px; padding: 20px;}

/* FORM */
.detail-form table {border: 2px solid var(--dark); border-radius: 10px; padding: 20px;}
.detail-form tr {height: 40px;}
.detail-form tr.h_auto {height:auto !important; max-height: 40px;}
.detail-form th {text-align: right; padding-right: 10px}

/* SELECT UL */
.select-ul {display: none; position: absolute; width: 200px; max-height: 100px; margin-left: 10px; font-size: 18px; background-color: var(--white); border: 2px solid var(--dark); box-sizing: border-box; white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden; overflow-y: auto; z-index: 999;}
.select-ul li:hover {background-color: var(--dark); font-weight: bold; color: var(--white);}

/* STYLE */
.flex {display: flex;}
.inline-flex {display: inline-flex;}

.m_auto {margin-left: auto !important; margin-right: auto !important;}
.ml_20 {margin-left: 20px !important;}

.left_t {text-align: left !important;}
.center_t {text-align: center !important;}
.right_t {text-align: right !important;}
.bold_t {font-weight: bold !important;}
.field_t {color: fieldtext !important;}

/* WIDTH */
.w_10 {width: 10% !important;}
.w_20 {width: 20% !important;}
.w_30 {width: 30% !important;}
.w_40 {width: 40% !important;}
.w_50 {width: 50% !important;}
.w_60 {width: 60% !important;}
.w_70 {width: 70% !important;}
.w_80 {width: 80% !important;}
.w_90 {width: 90% !important;}
.w_full {width: 100% !important;}

/* HEIGHT */
.h_10 {height: 10% !important;}
.h_20 {height: 20% !important;}
.h_30 {height: 30% !important;}
.h_40 {height: 40% !important;}
.h_50 {height: 50% !important;}
.h_60 {height: 60% !important;}
.h_70 {height: 70% !important;}
.h_80 {height: 80% !important;}
.h_90 {height: 90% !important;}
.h_full {height: 100% !important;}