<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head th:insert="common/head.html"></head>
<body>
<main>
    <div class="header-dom" th:insert="common/header.html"></div>
    <input type="hidden" id="idx" th:value="${detail.idx}" />
    <div class="body">
        <p class="title">TEAM</p>
        <div class="detail-form">
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 90%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th><label for="name">팀명</label></th>
                        <td><input type="text" id="name" data-max="30" placeholder="팀명" th:value="${detail.name}" /></td>
                    </tr>
                    <tr>
                        <th><label for="member_search">담당자</label></th>
                        <td>
                            <input type="text" id="member_search" placeholder="유저를 선택해주세요." />
                            <ul class="select-ul" id="member_search_list"></ul>
                        </td>
                    </tr>
                    <tr class="h_auto">
                        <th></th>
                        <td>
                            <div id="member_list" class="manager-dom">
                                <div th:each="member : ${member_list}" class="member" th:data-idx="${member.idx}" th:data-member="${member.memberIdx}">
                                    [[${member.memberName}]]<i class="delete_item"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <a id="history_back" class="btn light">목록으로</a>
                            <a id="save_btn" class="btn">등록하기</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="popup">
        <div class="background pop_close"></div>
        <section id="alert_pop" th:insert="popup/alert_pop.html"></section>
    </div>
</main>
</body>
<script th:src="@{/js/team/detail.js}"></script>
<script th:src="@{/js/member/search.js}"></script>
</html>