<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head th:insert="common/head.html"></head>
<body>
<main>
    <div class="header-dom" th:insert="common/header.html"></div>
    <div class="body">
        <p class="title">TEAM</p>
        <div class="title-btn">
            <a id="regist_btn" class="btn light person">등록하기</a>
        </div>

        <!-- BEGIN::SEARCH FORM -->
        <div class="search-form">
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 90%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th><label for="name">팀명</label></th>
                        <td><input type="text" id="name" placeholder="팀명" th:value="${param_name}" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <a id="refresh_btn" class="btn light">초기화</a>
                            <a id="search_btn" class="btn">검색</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- END::SEARCH FORM -->

        <!-- BEGIN::LIST -->
        <div>
            <table class="table">
                <colgroup>
                    <col style="min-width: 300px;">
                    <col style="width: 100px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>팀명</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody id="item_list">
                    <tr th:each="item : ${list}" th:data-idx="${item.idx}">
                        <td class="center_t" th:text="${item.name}"></td>
                        <td class="center_t" th:text="${#dates.format(item.registDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END::LIST -->
    </div>

    <div class="popup">
        <div class="background pop_close"></div>
        <section id="alert_pop" th:insert="popup/alert_pop.html"></section>
    </div>
</main>
</body>
<script th:src="@{/js/team/list.js}"></script>
</html>