<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head th:insert="common/head.html"></head>
<body>
<main>
    <div class="header-dom" th:insert="common/header.html"></div>
    <input type="hidden" id="idx" th:value="${detail.idx}" />
    <div class="body">
        <p class="title">ROLE</p>
        <div class="detail-form">
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 90%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th><label for="name">역할명</label></th>
                        <td><input type="text" id="name" data-max="30" placeholder="역할명" th:value="${detail.name}" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <a id="history_back" class="btn light">목록으로</a>
                            <a id="save_btn" class="btn">등록하기</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="popup">
        <div class="background pop_close"></div>
        <section id="alert_pop" th:insert="popup/alert_pop.html"></section>
    </div>
</main>
</body>
<script th:src="@{/js/role/detail.js}"></script>
</html>